
if loadfont /boot/grub/font.pf2 ; then
	set gfxmode=auto
	insmod efi_gop
	insmod efi_uga
	insmod gfxterm
	terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "^Autoinstall Ubuntu JeOS" {
	set gfxpayload=keep
	linux	/install/vmlinuz language=en country=AU locale=en_AU.UTF-8 file=/cdrom/preseed/{{ preseed_file }} auto=true priority=high quiet ---
	initrd	/install/initrd.gz
}
