# D-I config version 2.0
path
UI menu.c32
PROMPT 0
TIMEOUT 300

default install

MENU TITLE Boot Menu

label install
  menu label ^Autoinstall Ubuntu JeOS
  kernel /install/vmlinuz
  append language=en country=AU locale=en_AU.UTF-8 file=/cdrom/preseed/{{ preseed_file }} initrd=/install/initrd.gz auto=true priority=high --

