#!/bin/sh

cat > "/home/{{ UserName }}/pajuna_bootstrap.sh" << EOS
#!/bin/bash

set -eo pipefail

mkdir /home/{{ UserName }}/.ssh
chmod 700 /home/{{ UserName }}/.ssh
if [[ -f 'ssh.tar.gpg' ]]
then
  gpg --no-default-keyring --secret-keyring /dev/null --decrypt ssh.tar.gpg | tar xv -C ~/.ssh/
  rm -rf /home/{{ UserName }}/.gnupg
fi
rm -rf /home/{{ UserName }}/.ansible
echo "You should now start an ssh-agent and add your key to it."
echo ""
echo "#eval \"\\\$(ssh-agent -s)\""
echo "# ssh-add"
echo "#"
EOS

chmod 0700 /home/{{ UserName }}/pajuna_bootstrap.sh
chown {{ UserName }}:{{ UserName }} /home/{{ UserName }}/pajuna_bootstrap.sh

apt-add-repository -y ppa:ansible/ansible
apt-get update
apt-get -y install ansible
